@font-face {
  font-family: 'Diary';
  src: url(/fonts/ClassicalDiary-Regular\ Demo.ttf) format('woff2');
}

@font-face {
  font-family: 'Native';
  src: url(/fonts/Native-Stories.ttf) format('woff2');
}

@font-face {
  font-family: 'Kuano';
  src: url(/fonts/Kuano.ttf) format('woff2');
}

h1 {
  font-family: 'Diary';
  letter-spacing: 3px;
}

p {
  font-family: 'Native';
  letter-spacing: 1px;
}

#logo {
  font-family: 'Kuano';
  font-size: 4rem;
  letter-spacing: 3px;
}

::-webkit-scrollbar {
  display: none;
}

.error-message {
  color: #C63D2F;
  font-size: 12px;
  margin-top: 3px;
  text-shadow: black 50% 50% 1px;
}